body{
    background-color: rgb(1, 46, 29);
}
 .box{
    margin: auto;
    width: fit-content;
    margin-top: 110px;;
 }

 .gridbox{
    display: grid;
    width: fit-content;
    margin: auto;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
 }
 button{
    width: 100px;
    height: 50px;
    font-size: 26px;
    cursor: pointer;
 }

 #inp{
    width: 100%;
    height: 60px;
    text-align: left;
    font-size: medium;
 }

 button.hover{
    background-color: green;
 }