body{
    background-color: #CAD3C8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color:#D6A2E8 ;
    width: 350px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
}

input{
    padding: 8px;
    border-radius: 10px;
    border: 0;

}

form{
    display: inline-block;
}

#add-button{
    margin:5px;
    background-color: #1B9CFC;
    padding: 8px;
}

.buttons{
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    text-align: center;
    margin: 6px;
    cursor: pointer;
    color: white;
}

#clear-button{
    background-color:#2C3A47 ;
}

#empty-button{
    background-color:#3B3B98 ;
}

#save-button{
    background-color: #6D214F;
}

.buttons:hover{
    opacity: 0.8;
}